  .hp_span {
    font-size: 12px;
    letter-spacing: 0.4px;
    font-weight: 600;
  }

  .page {
    background-color: white;
    color: black;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    padding-bottom: 20px;
  }

/*
.spriteImg_1 {
    background-size: auto;
    background-color: #ffc107;
    padding: 1.9rem;
    background-position: -29px -29px;
}

.spriteImg_2 {
    background-size: auto;
    background-color: #0dcaf0;
    padding: 1.9rem;
    background-position: 8px;
    background-repeat: no-repeat;
}

.spriteImg_3 {
     background-size: auto;
     background-color: #adb5bd;
     padding: 1.9rem;
     background-position: 13px center;
     background-repeat: no-repeat;
}

.spriteImg_4 {
    background-size: auto;
    background-color: rgb(255, 210, 64);
    padding: 1.9rem;
    background-position: 9px center;
    background-repeat: no-repeat;
}

.spriteImg_5 {
    background-size: auto;
    background-color:#20c997;
    padding: 1.9rem;
    background-position: -3px center;
    background-repeat: no-repeat;
    width: 65px;
    height: 65px;
}

.spriteImg_6 {
    background-size: auto;
    background-color:#f43852;
    padding: 1.9rem;
    background-position: -8px center;
    background-repeat: no-repeat;
    width: 65px;
    height:65px;
}
*/